@charset "UTF-8";
.cate_pop {
    position: absolute;
    left: 191px;
    width: 998px;
    min-height: 468px;
    border: 1px solid #f7f7f7;
    background-color: #fff;
    box-shadow: 2px 0 5px rgb(0 0 0 / 30%);
    z-index: 2;
}
