@charset "UTF-8";
/*清除body的默认外边距,清除P标签的默认外边距*/
body, p, ul, ol,li, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

/*清除li标签的开头标点,40的内边距*/
ol,ul,li {
    list-style: none;
}

/*清除a标签的下划线*/
a {
    text-decoration: none;
}

/*清除img标签下面的线*/
img {
    vertical-align: top;
}

/*清除input,button的默认样式*/
input, button {
    border: none;
    padding: 0;
    outline: none;
}

/*清除em i 标签的默认样式*/
em, i {
    font-style: normal;
}
